

    
<link rel="stylesheet" href="../public/css/style.css">
<nav class="stroke navbar navbar-expand-lg bg-body-tertiary" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;" >
    <div class="container-fluid" >
      <img class="me-3" style="height: 30px;" src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30143401/311-768x591.png" alt="Logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul  class="navbar-nav me-auto mb-2 mb-lg-0 navi">
          <li  class="nav-item navi "  >
            <a class="nav-link  active navi" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item  "  >
            <a class="nav-link active" href="/sell">Sell</a>
          </li>
          <li class="nav-item " >
            <a class="nav-link active" href="/yourbooks">Your Books</a>
          </li>
         
          
        </ul>
        <form class="d-flex" role="search">
        <input class="form-control me-2 " type="text" name="search" id="searchbar" onkeyup="search_animal()" placeholder="Search anything ..." aria-label="Search">
        

          <a href="/login"><button style="width: 140px;" type="button" class="btn btn-dark">Login</button></a>
          <a href="/signup"> <button style="width: 140px; margin-left: 5px;" type="button" class="btn btn-dark">Sign Up</button></a>
          <!-- <button style="width: 140px; margin-left: 5px;" type="button" class="btn btn-dark">Sign Up</button> -->
          <!-- <i style="font-size:24px" class="fa m-2">&#xf290;</i> -->
          <i style="font-size:24px;margin-top: 6px; margin-left: 4px;" class="fa-solid fa-user"></i>
        </form>
      </div>
    </div>
  </nav>

